import { Base } from 'layouts'

import * as S from './styled'

export function {{pascalCase name}}() {
  return (
    <Base>
      <S.GridContainer container>
        <h1>{{pascalCase name}}</h1>
      </S.GridContainer>
    </Base>
  )
}
